node_modules
.env

# package-lock.json
yarn.lock
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/favicon.png
coverage/lcov-report/index.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/sorter.js
coverage/lcov-report/app/index.html
coverage/lcov-report/app/index.js.html
coverage/lcov-report/app/controllers/index.html
coverage/lcov-report/app/controllers/index.js.html
coverage/lcov-report/app/controllers/api/index.html
coverage/lcov-report/app/controllers/api/index.js.html
coverage/lcov-report/app/controllers/api/main.js.html
coverage/lcov-report/app/controllers/api/v1/authController.js.html
coverage/lcov-report/app/controllers/api/v1/index.html
coverage/lcov-report/app/controllers/api/v1/index.js.html
coverage/lcov-report/app/controllers/api/v1/productCategoryController.js.html
coverage/lcov-report/app/controllers/api/v1/productController.js.html
coverage/lcov-report/app/controllers/api/v1/userController.js.html
coverage/lcov-report/app/models/bargain.js.html
coverage/lcov-report/app/models/index.html
coverage/lcov-report/app/models/index.js.html
coverage/lcov-report/app/models/notification.js.html
coverage/lcov-report/app/models/product.js.html
coverage/lcov-report/app/models/productcategory.js.html
coverage/lcov-report/app/models/transaction.js.html
coverage/lcov-report/app/models/typeuser.js.html
coverage/lcov-report/app/models/user.js.html
coverage/lcov-report/app/models/wishlist.js.html
coverage/lcov-report/app/repositories/index.html
coverage/lcov-report/app/repositories/productCategoryRepository.js.html
coverage/lcov-report/app/repositories/productRepository.js.html
coverage/lcov-report/app/repositories/userRepository.js.html
coverage/lcov-report/app/services/index.html
coverage/lcov-report/app/services/productCategoryService.js.html
coverage/lcov-report/app/services/productService.js.html
coverage/lcov-report/app/services/userService.js.html
coverage/lcov-report/config/appconfig.js.html
coverage/lcov-report/config/cloudinary.js.html
coverage/lcov-report/config/database.js.html
coverage/lcov-report/config/index.html
coverage/lcov-report/config/routes.js.html
coverage/lcov-report/config/upload.js.html
coverage/lcov-report/utilities/authorize.js.html
coverage/lcov-report/utilities/index.html
coverage/lcov-report/utilities/userenum.js.html
